	p {
		font-family: sans-serif;
		border-bottom-style: solid;
		}
	div {
		padding: 1%;
		}
	h1 {
		text-align: center;
		font-family: "Georgia", sans-serif;
		}
	body {
		background-color:#ffdd00;
		}
		
		
